[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header {
  border: 1px solid silver;
  height: 40px;
}

.header-info {
  border-left: 1px solid silver;
  height: 40px;
}

.header-text {
  padding-top: 10px;
  margin: 0;
}

.tea-list {
  border: 1px solid silver;
  border-top: none;
}

.tea-information {
  border-left: 1px solid silver;
  padding: 15px;
}

.navbar {
  margin-bottom: 50px;
}

body {
  padding-bottom: 50px;
}

h2 {
  margin-top: 0;
}
